/* здесь используйте глобальные селекторы img, body, html и так далее*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $black-text;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
