/* здесь используйте глобальные переменные */
:root {
  --screen-width: 100vw;
  --padding-offset: 20px;
  --padding-wrapper-offset: 0px;
}

// FONTS

$primary-font: "Lato", "Arial", sans-serif;
$header-font: "Oswald", "Impact", sans-serif;

//  COLOR

$black-text: #000000;
$black-text-2: #111111;
$darken-text: #222222;
$white-text: #ffffff;
$grey-text: #444444;
$grey-text-2: #666666;
$grey-lighten: #d3d3d3;
$eclipse: #3e3e3e;
$dim-grey: #6b6b6b;
$grey-bg: #f2f2f2;
$grey-bg-2: #eaeaea;
$grey-border: #cdcdcd;
$grey-border-2: #e6e6e6;
$grey-control-hover: #bababa;
$primary-color: #68b738;
$primary-color-hover: #5eaa2f;
$error-color: #ff8282;

// VIEWPORTS

$tablet-width: 768px;
$desktop-width: 1440px;
