/* здесь используйте глобальные переменные */

$primary-font: "Lato", sans-serif;
$header-font: "Oswald", sans-serif;

$black-text: #000000;
$darken-text: #222222;
$white-text: #ffffff;
$grey-text: #444444;

$grey-bg: #f2f2f2;

$primary-color: #68b738;
