.additional-list {
  @include reset-list;

  display: flex;
  flex-direction: column;
  margin-bottom: 34px;

  @include viewport-tablet {
    margin-bottom: 70px;
  }

  @include viewport-desktop {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.additional-list__item {
  padding: 13px 0 18px;
  border-top: 1px solid $grey-border;

  &:last-of-type {
    border-bottom: 1px solid $grey-border;
  }

  @include viewport-tablet {
    padding: 26px 0 28px;
  }

  @include viewport-desktop {
    padding: 15px 0;
  }
}
