.additional-list {
  @include reset-list;

  display: flex;
  flex-direction: column;
  margin-bottom: 34px;

  @include viewport-tablet {
    margin-bottom: 68px;
    border: 1px solid $grey-border;
  }

  @include viewport-desktop {
    flex-grow: 1;
    margin-bottom: 0;
    // border-left: 0;
    // border-right: 0;
    border: 0;
  }
}

.additional-list__item {
  position: relative;
  padding: 14px 0 18px;

  &:first-of-type::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background-color: $grey-border;
  }

  &:first-of-type::before {
    top: 0;

    @include viewport-tablet {
      content: none;
    }

    @include viewport-desktop {
      content: "";
    }
  }

  &::after {
    bottom: 0;
  }

  &:last-of-type::after {
    @include viewport-tablet {
      content: none;
    }

    @include viewport-desktop {
      content: "";
    }
  }

  @include viewport-tablet {
    padding: 26px 37px 28px;
  }

  @include viewport-desktop {
    padding: 15px 0 17px;
  }
}
