.additional-product {
  padding: 25px 0 35px;
}

.additional-product__title {
  position: relative;
  margin-bottom: 34px;
  line-height: 24px;

  @include viewport-tablet {
    padding: 0 40px;
    line-height: 36px;
  }
}

.additional-product__content {
  display: flex;
  flex-direction: column;

  @include viewport-desktop {
    flex-direction: row;
    gap: 80px;
  }
}
