.button {
  padding: 10px 20px;
  display: inline-flex;
  justify-content: center;
  font-family: $header-font;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $white-text;
  border: 0;

  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }

  &--primary {
    background-color: $primary-color;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $primary-color-hover;
    }

    &:active {
      color: rgba($white-text, 0.3);
    }

    &:disabled {
      opacity: 0.3;
    }
  }

  &--secondary {
    background-color: $grey-bg;
    color: $grey-text;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $grey-bg-2;
    }
  }

  @include viewport-tablet {
    padding: 10px 26px;
    font-size: 16px;
    line-height: 20px;
  }
}
