.button {
  padding: 10px 20px;
  display: inline-flex;
  justify-content: center;
  font-family: $header-font;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $white-text;
  border: 0;

  &--primary {
    background-color: $primary-color;
  }

  &--secondary {
    background-color: $grey-bg;
    color: $grey-text;
  }

  @include viewport-tablet {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }
}
