.catalog-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;

  @include viewport-tablet {
    grid-template-columns: 1fr;
    row-gap: 0;
    padding: 0 37px 40px;
    background-color: $grey-bg;
  }

  @include viewport-desktop {
    padding: 0 38px 40px;
  }
}

.catalog-card__info {
  display: flex;
  flex-direction: column;

  @include viewport-tablet {
    margin-bottom: 25px;
  }

  // @include viewport-desktop {
  //   gap: 24px;
  // }
}

.catalog-card__image {
  display: flex;
  justify-content: center;
  align-items: center;

  @include viewport-tablet {
    min-height: 210px;
    margin-top: -70px;
    margin-bottom: 22px;
  }

  @include viewport-desktop {
    margin-bottom: 12px;
  }
}

.catalog-card__image img {
  display: block;
}

.catalog-card__link {
  display: block;
  max-width: 80px;
  margin-bottom: 15px;
  text-decoration: none;

  @include viewport-tablet {
    align-self: center;
    max-width: 130px;
    margin-bottom: 20px;
  }

  @include viewport-desktop {
    margin-bottom: 24px;
  }
}

.catalog-card__title {
  text-transform: uppercase;
  color: $darken-text;

  @include viewport-tablet {
    text-align: center;
  }
}

.catalog-card__buttons {
  display: grid;
  grid-column: 1 / -1;
  width: 100%;
}
