.catalog-list {
  @include reset-list;

  display: grid;
  grid-template-columns: 1fr;

  @include viewport-tablet {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 140px;
    padding-top: 80px;
  }

  @include viewport-desktop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 143px;
  }
}

.catalog-list__item {
  position: relative;
  display: flex;
  padding: 22px 0 24px;

  &--more {
    padding: 26px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: calc(50% - var(--screen-width)/2);
    left: calc(50% - var(--screen-width)/2);
    display: block;
    height: 1px;
    background-color: $grey-border-2;

    @include viewport-tablet {
      display: none;
    }
  }

  &:last-of-type::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: calc(50% - var(--screen-width)/2);
    left: calc(50% - var(--screen-width)/2);
    display: block;
    height: 1px;
    background-color: $grey-border-2;

    @include viewport-tablet {
      display: none;
    }
  }

  @include viewport-tablet {
    padding: 0;
  }
}

.catalog-list__card {
  width: 100%;
  height: 100%;
}
