.contacts-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  // @include viewport-tablet {
  //   padding: 60px 40px;
  // }

  @include viewport-desktop {
    gap: 87px;
    max-width: 565px;
    padding: 60px 80px;
    background-color: $white-text;
  }
}

.contacts-info__welcome {
  max-width: 160px;
  margin: 0;
  font-family: $header-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black-text-2;

  @include viewport-tablet {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts-info__address {
  max-width: 160px;
  margin-left: auto;
  font-style: normal;
  line-height: 20px;
  color: $grey-text;

  @include viewport-tablet {
    text-align: right;
  }
}

.contacts-info__address .street {
  @include viewport-tablet {
    display: block;
    margin-bottom: 20px;
  }
}
