.hero {
  position: relative;
  margin-bottom: 20px;

  @include viewport-desktop {
    position: relative;
    min-height: 694px;
    margin-bottom: 82px;
    padding: 160px 0 184px;
    overflow: hidden;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 302px;
    background-image: linear-gradient(rgba($primary-color, 85%), rgba($primary-color, 85%)), image-set(url("../../images/hero-bg-mobile@1x.webp") 1x type("image/webp"), url("../../images/hero-bg-mobile@2x.webp") 2x type("image/webp"), url("../../images/hero-bg-mobile@1x.jpg") 1x type("image/jpg"), url("../../images/hero-bg-mobile@2x.jpg") 2x type("image/jpg"));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @include viewport-tablet {
      background: 0 0;
    }

    @include viewport-desktop {
      left: 50%;
      height: 100%;
      background-image: linear-gradient(rgba($primary-color, 85%), rgba($primary-color, 85%)), image-set(url("../../images/hero-bg-desktop@1x.webp") 1x type("image/webp"), url("../../images/hero-bg-desktop@2x.webp") 2x type("image/webp"), url("../../images/hero-bg-desktop@1x.jpg") 1x type("image/jpg"), url("../../images/hero-bg-desktop@2x.jpg") 2x type("image/jpg"));
      background-position: bottom left;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 27px;
  z-index: 1;

  @include viewport-tablet {
    padding-top: 65px;
  }
}

.hero__text {
  text-align: center;

  @include viewport-tablet {
    max-width: 420px;
    margin-left: 90px;
    text-align: left;
  }
}

.hero__title {
  margin-bottom: 25px;
  color: $white-text;

  @include viewport-tablet {
    margin-bottom: 40px;
    color: $black-text;
  }
}

.hero__description {
  margin: 0;
  margin-bottom: 30px;
  font-family: $header-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white-text;

  @include viewport-tablet {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    color: $black-text;
  }
}

.hero__image {
  align-self: center;

  @include viewport-tablet {
    margin-top: -80px;
    order: 4;
    z-index: -1;
  }

  @include viewport-desktop {
    position: absolute;
    top: -15px;
    right: 220px;
    margin-top: 0;
  }
}

.hero__image img {
  display: block;
}

.hero__button {
  align-self: stretch;

  @include viewport-tablet {
    align-self: flex-start;
    margin-left: 90px;
  }
}
