.hero {
  position: relative;
  margin-bottom: 20px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 302px;
    // background-color: $primary-color;
    background-color: #4d4d4d;
    background-image:
      linear-gradient(to right, rgba($primary-color, 0.85), rgba($primary-color, 0.85)),
      image-set(
        url("../../images/hero-bg-mobile@1x.webp") 1x type("image/webp"),
        url("../../images/hero-bg-mobile@2x.webp") 2x type("image/webp"),
        url("../../images/hero-bg-mobile@1x.jpg") 1x type("image/jpg"),
        url("../../images/hero-bg-mobile@2x.jpg") 2x type("image/jpg"));
    background-position: center, center right 35%;
    background-repeat: no-repeat;
    background-size: auto 370px;
    /* background-size: cover; */
    z-index: -1;

    @include viewport-tablet {
      background: 0 0;
    }

    @include viewport-desktop {
      left: 50%;
      width: 50%;
      height: 100%;
      background-color: #4d4d4d;
      background-image:
        linear-gradient(to right, rgba($primary-color, 0.85), rgba($primary-color, 0.85)),
        image-set(
          url("../../images/hero-bg-desktop@1x.webp") 1x type("image/webp"),
          url("../../images/hero-bg-desktop@2x.webp") 2x type("image/webp"),
          url("../../images/hero-bg-desktop@1x.jpg") 1x type("image/jpg"),
          url("../../images/hero-bg-desktop@2x.jpg") 2x type("image/jpg"));
      background-position: center, center right 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @include viewport-tablet {
    margin-bottom: 0;
  }

  @include viewport-desktop {
    position: relative;
    min-height: 694px;
    margin-bottom: 82px;
    padding: 184px 0;
    overflow: hidden;
  }
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 27px;
  z-index: 1;

  @include viewport-tablet {
    padding-top: 40px;
  }
}

.hero__text {
  text-align: center;

  @include viewport-tablet {
    max-width: 420px;
    margin-left: 90px;
    text-align: left;
  }

  @include viewport-desktop {
    margin-left: 80px;
  }
}

.hero__title {
  margin-bottom: 25px;
  line-height: 1;
  color: $white-text;

  @include viewport-tablet {
    margin-bottom: 40px;
    color: $black-text;
  }
}

.hero__description {
  margin: 0;
  margin-bottom: 30px;
  font-family: $header-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white-text;

  @include viewport-tablet {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    color: $black-text;
  }

  @include viewport-desktop {
    margin-bottom: 52px;
  }
}

.hero__image {
  align-self: center;
  margin-bottom: 2px;

  @include viewport-tablet {
    margin-top: -83px;
    margin-bottom: 0;
    order: 4;
    z-index: -1;
  }

  @include viewport-desktop {
    position: absolute;
    top: -40px;
    right: 220px;
    margin-top: 0;
  }
}

.hero__image img {
  display: block;
}

.hero__button {
  align-self: stretch;

  @include viewport-tablet {
    display: flex;
    align-self: flex-start;
    min-width: 244px;
    margin-left: 90px;
    padding: 14px;
    font-size: 20px;
    line-height: 26px;
  }

  @include viewport-desktop {
    margin-left: 80px;
  }
}
