.input {
  display: block;
  padding: 12px 15px;
  width: 100%;
  min-height: 45px;
  font-family: $header-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $grey-text;
  border: 1px solid $grey-border-2;

  @include viewport-tablet {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border-color: $grey-border;
  }

  &:focus-visible {
    outline: 2px solid $grey-text;
    outline-offset: -2px;
    // border-color: $grey-text;
  }

  &:disabled {
    opacity: 0.3;
  }

  &--error {
    border-color: $error-color;
  }

  &--icon {
    padding-right: 44px;

    @include viewport-tablet {
      padding-right: 48px;
    }

    @include viewport-desktop {
      padding-right: 52px;
    }
  }

  &--about {
    min-height: 150px;
    padding: 13px 14px;

    @include viewport-tablet {
      height: 100%;
      max-height: 175px;
    }
  }
}
