.logo-academy {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $grey-text;

  &::after {
    content: "";
    position: relative;
    display: block;
    width: 27px;
    height: 34px;
    background-color: $grey-text-2;
    mask-image: url("../../images/icons/stack.svg#academy");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;

    @include viewport-tablet {
      margin-left: 23px;
    }
  }

  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }

  &:hover::after {
    background-color: $primary-color;
  }

  &:focus::after {
    background-color: $primary-color;
  }

  &:active {
    opacity: 0.3;
  }

  &:active::after {
    background-color: $primary-color;
  }

  @include viewport-tablet {
    width: fit-content;
    margin-left: auto;
  }
}
