.logo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // display: flex;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }

  &:active {
    opacity: 0.6;
  }

  @include viewport-tablet {
    grid-template-columns: 60px 1fr;
    gap: 13px;
  }

  @include viewport-desktop {
    grid-template-columns: 70px 1fr;
    gap: 14px;
  }
}

// .logo__image {
//   margin-right: 56px;

//   @include viewport-tablet {
//     margin-right: 13px;
//   }
// }

.logo__image img {
  display: block;
}

.logo__text {
  justify-self: center;

  @include viewport-desktop {
    width: 118px;
    height: 21px;
  }
}
