.main-footer {
  &__contacts {
    background-color: $grey-bg;
  }

  &__links {
    background-color: $grey-bg;
  }

  &__logo {
    & svg {
      color: $black-text-2;

      &:hover {
        color: $eclipse;
      }

      &:focus {
        color: $eclipse;
      }

      &:active {
        color: $dim-grey;
      }
    }
  }
}
