.main-header {
  position: relative;
  background-color: $white-text;

  &--index {
    @include viewport-desktop {
      position: absolute;
      top: 55px;
    }
  }

  &--index &__line {
    @include viewport-desktop {
      padding: 0;
    }
  }

  &--index .main-nav__link {
    @include viewport-desktop {
      color: $white-text;
    }
  }

  @include viewport-desktop {
    width: 100%;
    background-color: transparent;
    z-index: 2;
  }
}

.main-header__wrapper {
  @include viewport-tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.main-header__line {
  position: relative;
  padding: 13px 0 14px;

  @include viewport-tablet {
    padding: 25px 0;
  }

  @include viewport-desktop {
    padding: 55px 0;
  }
}

.main-header__toggle {
  position: absolute;
  top: 50%;
  right: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 0;
  background: 0;
  transform: translateY(-50%);

  &--closed {
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: $black-text;
      box-shadow: 0 8px 0 0 $black-text, 0 16px 0 0 $black-text;
    }
  }

  &--opened::before,
  &--opened::after {
    content: "";
    position: absolute;
    top: 11px;
    right: -3px;
    width: 100%;
    height: 2px;
    background-color: $black-text;
  }

  &--opened::before {
    transform: rotate(45deg);
  }

  &--opened::after {
    transform: rotate(-45deg);
  }

  &--nojs {
    display: none;
  }

  @include viewport-tablet {
    display: none;
  }
}
