.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  &--opened {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: $white-text;
    z-index: 2;

    @include viewport-tablet {
      position: relative;
      background-color: transparent;
    }
  }

  &--nojs &__item::before,
  &--nojs &__item:last-of-type::after {
    left: calc(0px - var(--padding-offset));
    width: calc(100% + var(--padding-offset) * 2);
  }

  &--closed {
    display: none;

    @include viewport-tablet {
      display: flex;
    }
  }

  @include viewport-desktop {
    padding-top: 0;
  }
}

.main-nav__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;

  @include viewport-tablet {
    flex-direction: row;
    gap: 36px;
  }

  @include viewport-desktop {
    gap: 34px;
    max-width: 500px;
  }
}

.main-nav__item {
  position: relative;
  padding: 23px 0;
  text-align: center;

  &::before,
  &:last-of-type::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $grey-border-2;

    @include viewport-tablet {
      content: none;
    }
  }

  &::before {
    top: 0;
  }

  &:last-of-type::after {
    bottom: 0;
  }

  &--white .link {
    &:focus-visible {
      outline: 2px solid $grey-text;
      outline-offset: 2px;
    }
  }

  &--white .main-nav__link::after {
    @include viewport-desktop {
      background-color: $white-text;
    }
  }

  &--active .main-nav__link::after {
    width: 100%;
  }

  @include viewport-tablet {
    padding: 0;
  }
}

.main-nav__link {
  display: inline-flex;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    @include viewport-tablet {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $primary-color;
      transition: width 0.3s;
    }
  }

  &:hover::after {
    width: 100%;
  }

  @include viewport-tablet {
    font-size: 18px;
    line-height: 24px;
  }

  @include viewport-desktop {
    font-size: 20px;
    line-height: 24px;
  }
}
