.main-footer {
  position: relative;

  &__map {
    @media (min-width: $desktop-width) {
      height: 400px;
    }
  }

  &__links {
    background-color: $grey-bg;
  }

  &__logo {
    & svg {
      color: $black-text-2;

      &:hover {
        color: $eclipse;
      }

      &:focus {
        color: $eclipse;
      }

      &:active {
        color: $dim-grey;
      }
    }
  }
}

.main-footer__contacts {
  position: relative;
  padding: 26px 0;

  @include viewport-tablet {
    padding: 60px 40px;
  }

  @include viewport-desktop {
    position: absolute;
    top: 95px;
    bottom: 106px;
    width: 100%;
  }
}

.main-footer__links .main-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
