.main-header {
  background-color: $white-text;

  @include viewport-desktop {
    width: 100%;
    background-color: transparent;
    z-index: 2;
  }

  &--index {
    @include viewport-desktop {
      position: absolute;
      top: 55px;
    }
  }
}

.main-header__wrapper {
  position: relative;

  @include viewport-tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  padding: 13px 0;

  @include viewport-tablet {
    padding: 25px 0 0;
  }

  @include viewport-desktop {
    padding: 0;
  }
}

.main-header__image {
  margin-right: 56px;

  @include viewport-tablet {
    margin-right: 13px;
  }
}

.main-header__image img {
  display: block;
}
