.main-header {
  background-color: $white-text;

  &__wrapper {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    // position: absolute;
    // left: 0;
    // right: 0;
  }
}
