:root {
  --screen-width: 100vw;
}

.main-footer {
  position: relative;
}

.main-footer__contacts {
  position: relative;
  padding: 26px 0;
  background-color: $grey-bg;

  &--index {
    background-color: $white-text;
  }

  @include viewport-tablet {
    padding: 60px 40px;
  }

  @include viewport-desktop {
    position: absolute;
    top: 95px;
    left: calc(50% - (1220px / 2));
    padding: 0;
    background-color: $white-text;
    z-index: 2;
  }
}

.main-footer__map {
  position: relative;
}

.main-footer__map-iframe {
  position: relative;
  display: block;
  width: 100%;
  border: 0;
  z-index: 1;

  @include viewport-tablet {
    height: 400px;
  }
}

.main-footer__map-nojs {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.main-footer__map-nojs img {
  display: block;
  width: 100%;
  height: revert-layer;
  object-fit: cover;
}

.main-footer__line {
  display: flex;
}

.main-footer__links {
  padding: 40px 0;
  background-color: $grey-bg;

  @include viewport-tablet {
    padding: 57px 0;
  }

  @include viewport-desktop {
    padding: 68px 0;
  }
}

.main-footer__links .main-footer__wrapper {
  display: grid;
  gap: 20px;

  @include viewport-tablet {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

.main-footer__logo {
  display: inline-flex;
  margin: auto;

  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }

  @include viewport-tablet {
    margin-left: 0;
  }
}

.main-footer__logo svg {
  color: $black-text-2;

  &:hover {
    color: $eclipse;
  }

  &:focus {
    color: $eclipse;
  }

  &:active {
    color: $dim-grey;
  }
}
