.products {
  margin-bottom: 20px;

  @include viewport-tablet {
    margin-bottom: 45px;
  }

  @include viewport-desktop {
    margin-bottom: 72px;
  }
}

.products__list {
  @include reset-list;

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @include viewport-desktop {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}
