.product-card {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px auto auto;
  column-gap: 20px;
  row-gap: 15px;

  padding: 24px 20px 18px;
  background-color: $grey-bg;

  @include viewport-tablet {
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto auto auto;
    column-gap: 50px;
    row-gap: 24px;
    padding: 77px 63px 53px 52px;
  }

  @include viewport-desktop {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px auto auto;
    column-gap: 62px;
    padding: 47px 52px 55px;
  }

  &--slim,
  &--pro {
    position: relative;
  }

  &--slim::before,
  &--slim::after,
  &--pro::before,
  &--pro::after {
    content: "";
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    mask-image: var(--bgi);

    @include viewport-tablet {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
      margin-top: 15px;
    }

    @include viewport-desktop {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin-top: 0;
    }
  }

  &--slim::before,
  &--pro::before {
    width: 50px;
    height: 50px;
    --bgi: url("../../images/icons/stack.svg#ellipse");
    background-color: $primary-color;

    @include viewport-tablet {
      width: 200px;
      height: 200px;
    }

    @include viewport-desktop {
      width: 100px;
      height: 100px;
    }
  }

  &--slim::after,
  &--pro::after {
    position: absolute;
    background-color: $black-text;
    z-index: 2;
  }

  &--slim::after {
    top: -3px;
    left: 7px;
    width: 36px;
    height: 50px;
    --bgi: url("../../images/icons/stack.svg#cat-slim");

    @include viewport-tablet {
      top: -11px;
      left: 30px;
      width: 140px;
      height: 194px;
    }

    @include viewport-desktop {
      top: -6px;
      left: 15px;
      width: 70px;
      height: 97px;
    }
  }

  &--pro::after {
    top: 11px;
    left: -8px;
    width: 67px;
    height: 28px;
    --bgi: url("../../images/icons/stack.svg#cat-pro");

    @include viewport-tablet {
      top: 44px;
      left: -34px;
      width: 268px;
      height: 112px;
    }

    @include viewport-desktop {
      top: 20px;
      left: -19px;
      width: 134px;
      height: 56px;
    }
  }
}

.product-card__title {
  display: grid;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  align-items: center;
  text-transform: uppercase;

  @include viewport-tablet {
    grid-column: 1 / 2;
    text-transform: uppercase;
  }

  @include viewport-desktop {
    grid-column: 2 / -1;
  }
}

.product-card__description-wrapper {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  margin-top: 6px;

  @include viewport-tablet {
    grid-column: 1 / 2;
    margin-top: 0;
  }

  @include viewport-desktop {
    grid-column: 1 / -1;
    margin-top: 15px;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 23px;
    background-color: #e6e6e6;

    @include viewport-desktop {
      display: none;
    }
  }
}

.product-card__description {
  margin-top: 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.product-card__link-wrapper {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
}

.product-card__link {
  display: inline-flex;
  align-items: center;
  height: 24px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;

  @include viewport-tablet {
    grid-column: 1 / 2;
    height: 38px;
    font-size: 20px;
  }

  @include viewport-desktop {
    grid-column: 1 / -1;
  }
}
