.product-card {
  padding: 24px 20px;
  background-color: $grey-bg;

  &__link {
    &::after {
      content: "";
      display: inline-block;
      background-color: $black-text;
      mask-image: url("../../images/icons/stack.svg#arrow");
      mask-position: -8px;
      mask-repeat: no-repeat;
      mask-size: contain;
      width: 32px;
      height: 12px;
      position: relative;
    }

    &:hover::after {
      mask-position: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 76px 63px 52px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 52px;
  }
}

.product-card--slim {
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    mask-image: var(--bgi);
  }

  &::before {
    --bgi: url("../../images/icons/stack.svg#ellipse");
    background-color: $primary-color;
    width: 50px;
    height: 50px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    --bgi: url("../../images/icons/stack.svg#cat-slim");
    background-color: $black-text;
    width: 36px;
    height: 50px;
    position: absolute;
    left: 27px;
    top: 21px;
    z-index: 2;

    @media (min-width: $tablet-width) {
      width: 36px;
      height: 50px;
      left: 27px;
      top: 21px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      left: 67px;
      top: 41px;
    }
  }
}

.product-card--pro {
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    mask-image: var(--bgi);
  }

  &::before {
    --bgi: url("../../images/icons/stack.svg#ellipse");
    background-color: $primary-color;
    width: 50px;
    height: 50px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    --bgi: url("../../images/icons/stack.svg#cat-pro");
    background-color: $black-text;
    width: 67px;
    height: 28px;
    position: absolute;
    left: 13px;
    top: 35px;
    z-index: 2;

    @media (min-width: $tablet-width) {
      width: 36px;
      height: 50px;
      left: 27px;
      top: 21px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      left: 33px;
      top: 67px;
    }
  }
}
