.social-list {
  @include reset-list;

  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 19px 0;
  border-top: 1px solid $grey-border;
  border-bottom: 1px solid $grey-border;

  @include viewport-tablet {
    padding: 0;
    border: 0;
  }
}

.social-list__link {
  display: block;

  &::before {
    content: "";
    display: block;
    background-color: $grey-text-2;
    mask-image: var(--bgi);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    width: 28px;
    height: 22px;
    position: relative;
  }

  &--vk {
    --bgi: url("../../images/icons/stack.svg#vk");
  }

  &--youtube {
    --bgi: url("../../images/icons/stack.svg#yt");
  }

  &--telegram {
    --bgi: url("../../images/icons/stack.svg#tg");
  }

  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }

  &:hover::before {
    background-color: $primary-color;
  }

  &:focus::before {
    background-color: $primary-color;
  }

  &:active::before {
    background-color: $primary-color;
    opacity: 0.3;
  }
}
