.title {
  margin: 0;
  font-family: $header-font;
  font-weight: 400;
  color: $black-text;

  &--lg {
    font-size: 36px;
    line-height: 40px;

    @include viewport-tablet {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &--md {
    font-size: 24px;
    line-height: 24px;

    @include viewport-tablet {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &--sm {
    font-size: 16px;
    line-height: 20px;

    @include viewport-tablet {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &--line {
    position: relative;
    display: inline-block;
  }

  &--line span::after {
    content: "\A";
    white-space: pre;

    @include viewport-tablet {
      white-space: inherit;
    }
  }

  &--line::before,
  &--line::after {
    content: "";
    position: absolute;
    // top: 60%;
    top: 18px;
    width: 100vw;
    height: 2px;
    background-color: $primary-color;
    transform: translateY(-50%);
  }

  &--line::before {
    right: calc(100% + var(--padding-offset));

    @include viewport-tablet {
      right: calc(100% + var(--wrapper-offset));
    }

    @include viewport-desktop {
      right: calc(100% + var(--padding-offset));
    }
  }

  &--line::after {
    left: calc(100% + var(--padding-offset));

    @include viewport-tablet {
      left: calc(100% + var(--wrapper-offset));
    }

    @include viewport-desktop {
      left: calc(100% + var(--padding-offset));
    }
  }
}
