.working {
  margin-bottom: 50px;

  @include viewport-tablet {
    margin-bottom: 47px;
  }

  @include viewport-desktop {
    margin-bottom: 70px;
  }
}

.working__title {
  margin-bottom: 40px;

  @include viewport-tablet {
    margin-bottom: 72px;
  }
}

.working__list {
  @include reset-list;

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  counter-reset: working 0;

  @include viewport-tablet {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 76px;
  }

  @include viewport-desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.working__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  gap: 20px;
  max-width: 470px;

  &::before {
    content: "";
    position: relative;
    grid-column: 1 / 2;
    width: 60px;
    height: 60px;
    background-color: $primary-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;

    @include viewport-tablet {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @include viewport-tablet {
      content: counter(working);
      position: relative;
      // top: -40px;
      display: flex;
      justify-content: center;
      grid-column: 2/-1;
      grid-row: 1/-1;
      margin-top: -40px;
      font-family: $header-font;
      font-size: 280px;
      line-height: 1;
      color: #f2f2f2;
      counter-increment: working 1;
      z-index: -1;
    }
  }

  &--food::before {
    background-image: url("../../images/icons/stack.svg#icon-food");
  }

  &--powder::before {
    background-image: url("../../images/icons/stack.svg#icon-powder");
  }

  &--replace::before {
    background-image: url("../../images/icons/stack.svg#icon-replace");
  }

  &--change::before {
    background-image: url("../../images/icons/stack.svg#icon-change");
  }

  @include viewport-tablet {
    position: relative;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
    align-items: start;
    gap: 30px;
    max-width: 324px;
    margin-right: 74px;
  }

  @include viewport-desktop {
    margin-right: 0;
  }
}

.working__item-text {
  grid-column: 2 / -1;
  margin: 0;
  color: $grey-text;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }
}
